@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-slate-100;
}

/* html,
      body,
      body > div:first-child,
      div#__next,
      div#__next > div {
        height: 100%;
      } */

html,
body {
  @apply bg-slate-100 font-sans text-sm relative leading-6 text-slate-700 p-0 m-0 min-w-full;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.page {
  @apply flex flex-col min-w-full;
  height: calc(var(--vh) * 100);
}

.footer {
  @apply bg-transparent  text-slate-100 font-semibold tracking-wide;
}

.link-footer {
  @apply text-slate-100 hover:text-slate-50 underline hover:no-underline;
}

.main {
  @apply flex-1;
}

.header-top {
  @apply w-full border-b-[1px] border-solid border-slate-200;
}

.content {
  @apply my-4;
}

.container {
  @apply max-w-7xl mx-auto px-2 sm:px-4 lg:px-8;
}

.heading-1 {
  @apply font-semibold leading-loose;
}

.link {
  @apply text-slate-600 hover:text-slate-900;
}

.btn-main {
  @apply inline-flex items-center justify-center rounded-sm border border-transparent bg-sky-400 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-sky-600 focus:outline-none focus:ring-1 focus:ring-sky-400 focus:ring-offset-1 sm:w-auto disabled:bg-slate-400 disabled:text-slate-800 disabled:cursor-not-allowed;
}

.btn-filter {
  @apply inline-flex items-center justify-center border border-transparent px-4 py-2 text-xs font-medium text-slate-600 focus:outline-none focus:ring-1 focus:ring-sky-400 focus:ring-offset-1 sm:w-auto disabled:text-slate-400 disabled:cursor-not-allowed;
}

/* .canvas-container {
  margin-left: auto;
  margin-right: auto;
} */
